<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @Automatically generate by Coder in 2020-07-29 14:10:24 -->
<mapper namespace="com.taro.platform.mapper.PlatformModulePermRelMapper">

  	<resultMap id="BaseResultMap" type="com.taro.platform.entity.PlatformModulePermRelEntity">
	  	<id column="id" property="id" jdbcType="VARCHAR" />
  		<result column="id" property="id" jdbcType="VARCHAR" />
  		<result column="fk_module_id" property="fkModuleId" jdbcType="VARCHAR" />
  		<result column="fk_perm_id" property="fkPermId" jdbcType="VARCHAR" />
  	</resultMap>

  	<sql id="Base_Column_List" >
		t.id,		t.fk_module_id,		t.fk_perm_id,
  	</sql>

  	<sql id="where_sql">
		<if test="id != null and id != ''" >
			and t.id = #{id, jdbcType=VARCHAR}
		</if>
		<if test="fkModuleId != null and fkModuleId != ''" >
			and t.fk_module_id = #{fkModuleId, jdbcType=VARCHAR}
		</if>
		<if test="fkPermId != null and fkPermId != ''" >
			and t.fk_perm_id = #{fkPermId, jdbcType=VARCHAR}
		</if>
  	</sql>

</mapper>