<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @Automatically generate by Coder in 2020-07-29 14:12:35 -->
<mapper namespace="com.taro.platform.mapper.PlatformUserMenuRelMapper">

  	<resultMap id="BaseResultMap" type="com.taro.platform.entity.PlatformUserMenuRelEntity">
	  	<id column="id" property="id" jdbcType="VARCHAR" />
  		<result column="id" property="id" jdbcType="VARCHAR" />
  		<result column="fk_user_id" property="fkUserId" jdbcType="VARCHAR" />
  		<result column="fk_menu_id" property="fkMenuId" jdbcType="VARCHAR" />
  	</resultMap>

  	<sql id="Base_Column_List" >
		t.id,		t.fk_user_id,		t.fk_menu_id,
  	</sql>

  	<sql id="where_sql">
		<if test="id != null and id != ''" >
			and t.id = #{id, jdbcType=VARCHAR}
		</if>
		<if test="fkUserId != null and fkUserId != ''" >
			and t.fk_user_id = #{fkUserId, jdbcType=VARCHAR}
		</if>
		<if test="fkMenuId != null and fkMenuId != ''" >
			and t.fk_menu_id = #{fkMenuId, jdbcType=VARCHAR}
		</if>
  	</sql>

</mapper>